@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --fav-color: #E4E6EB;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s linear;
}

/* for preloader  */
.loading{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    background: #fff 
        url(images/Spinner-1s-200px.gif) no-repeat center;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

.btn {
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    /* background: linear-gradient(135deg, #00437B 0%, #1598CB 100%); */
    padding: 1rem 7%;
    /* padding: 18px 7%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--green);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 2rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--green);
}

header .icon i {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icon i:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icon #bars {
    display: none;
}

.search {
    background-color: var(--fav-color);
    width: 20rem;
    outline: none;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;
    padding: 2rem;
    display: none;
    position: fixed;
    right: 27rem;
}

.search.active {
    display: inline-block;
}

/* responsive webpage */
@media (max-width:1077px) {
    html {
        font-size: 55%;
    }

}


@media (max-width:840px) {
    header .icon #bars {
        display: inline-block;
    }

    header .icon {
        margin: 1rem;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        background: #fff;
    }
    .home .slide .content h3 {
        font-size: 5rem;
    }
}

@media (max-width:991px) {
    html {
        font-size: 50%;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:518px) {
    .search{
        width: 15rem;
    }
}



.home .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .slide .content {
    flex: 1 1 45rem;
}

.image {
    flex: 1 1 45rem;
}

.image img {
    width: 100%;
}

.home .slide .content span {
    color: var(--green);
    font-size: 2.5rem;
}

.home .slide .content h3 {
    color: var(--black);
    font-size: 7rem;
}

.home .slide .content p {
    color: var(--light-color);
    font-size: 2rem;
    padding: 3rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active {
    background: var(--green) !important;
}


.sub-heading{
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 20px;
}

.box{
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.box:hover .fa-heart{
    left: 12px;
}
.box:hover .fa-eye{
    right: 12px;
}

.box img{
    width: 160px;
    height: 160px;
}

.box .fa-heart, .box .fa-eye{
    top: 15px;
    position: absolute;
    border-radius: 50%;
    font-size: 15px;
    background-color: #eee;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
}

.fa-heart{
    left: -122px;
}

.fa-eye{
    right: -122px;
}

.box .fa-heart:hover, .box .fa-eye:hover{
    background-color: var(--green);
    color: #fff;
}

.box h3{
    color: var(--black);
    font-size: 17px;
}

.box .stars{
    margin: 2px 0 15px 0;
}

.stars i{
    font-size: 14px;
    color: var(--green);
}

.food{
    margin-bottom: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food span{
    font-size: 18px;
}

.food a{
    font-weight: bold;
}

